<main>
  <div class="p-4">
    <%= @diameter %>,
    "<%= @bg_color %>"
  </div>

  <div class="flex justify-around">
    <div
      phx-click="change_state"
      class="bg-red-500 rounded-full cursor-pointer"
      style={"width: #{@diameter}px; height: #{@diameter}px"}
    >
    </div>
  </div>
</main>
